# ==================== TRON 网络配置 ====================
FULL_HOST=https://api.trongrid.io
CHAIN_ID=0x2b6653dc

# ==================== 商户配置 ====================
MERCHANT_ADDRESS=TYFvZHEhePjSvSMqMeYXZcSd1YABkR7AME
SERVICE_PROVIDER=TLyqzVGLV1srkB7dToTAEqgDSfPtXRJZYH
PRIVATE_KEY=1f814baf1ff3fe8b0ed1409f5491183d03daf1c5082af5cc45a579f5e1826d35

# ==================== GasFree 配置 ====================
MAX_FEE=2000000
GASFREE_SUBMIT_API=https://open.gasfree.io/tron/
GASFREE_API_KEY=
GASFREE_API_SECRET=your-api-secret
GASFREE_CONTROLLER_ADDRESS=TFFAMLQZybALab4uxHA9RBE7pxhUAjfF3U
USDT_CONTRACT=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t

# ==================== 服务配置 ====================
PORT=3000
ORDER_EXPIRE_SECONDS=300
POLL_INTERVAL_MS=5000
MAX_POLL_ATTEMPTS=30

# ==================== TronGrid 配置 ====================
TRONGRID_API_KEY=2d1c7c4e-39d4-445c-a88a-5d93ea29b339

# ==================== Redis 配置 ====================
REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=

# ==================== 日志配置 ====================
LOG_LEVEL=info
